*.annot
*.cmt
*.cmti
*.vtlog
*.zlog
*.cache
*.cmi
*.cmo
*.cmx
*.cmxs
*.cmxa
*.ml.d
*.mli.d
*.ml4.d
*.native
*.o
*.a
*.glob
*.vo
*.v.d
*.aux
*.mlpack.d
src/Makefile
src/extraction/.Makefile.swp
src/extraction/smtcoq
src/smtcoq_plugin.ml4
src/smtlib2/smtlib2_parse.ml
src/verit/veritParser.ml
src/versions/native/Structures.v
src/g_smtcoq.ml4
src/smtcoq_plugin.mlpack
src/smtlib2/smtlib2_lex.ml
src/smtlib2/smtlib2_parse.mli
src/verit/veritLexer.ml
src/verit/veritParser.mli
src/versions/standard/Array/PArray.v
src/versions/standard/Int63/Int63.v
src/versions/standard/Int63/Int63Axioms.v
src/versions/standard/Int63/Int63Native.v
src/versions/standard/Int63/Int63Op.v
src/versions/standard/Int63/Int63Properties.v
src/versions/standard/Structures.v
